html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* for Padding too get adjusted INSIDE the box itself.*/
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f7ff;
}

.logo {
  font-weight: bold;
}

/* navbar */

.navbar {
  background: linear-gradient(to right, #22223b, #4a4e69);
  color: #e9ecef;
  font-family: "Merriweather", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.navbar ul {
  display: flex;
  font-size: 1rem;
  gap: 45px;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

a:hover {
  color: #c363ac;
}

section {
  scroll-margin-top: 80px;
  padding: 60px 8%;
  padding: 90px 8%;
  text-align: center;
}

/* hero section */

.hero {
  font-family: "Lora", serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 90vh;
  justify-content: center;
  padding: 0 10%;
  gap: 80px;
  text-align: left;
  background: linear-gradient(to right, #8174a0, #a888b5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.info {
  max-width: 600px;
}

.info h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: 1px;
}

.info span {
  color: #8d248b;
}

.info p {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #3f3f3f;
}

.info h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  line-height: 1.1;
  margin-top: 10px;
  color: #554286;
  font-weight: 500;
}

.info a {
  text-decoration: none;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  width: 320px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border: 3px solid rgba(255, 255, 255, 0.3);
}
/* view my work button */

button {
  background-color: #edcfe7;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #eebfd1;
  color: white;
  transform: translateY(-2px);
}

/* Animation */

#element {
  color: #361636;
  font-weight: bold;
}

hr {
  border: none;
  height: 1px;
  background-color: #987d7d;
  width: 90%;
  margin: 13px auto;
}

/* about me  */

.about {
  min-height: 100vh;
  padding: 90px 10%;
  font-family: "Lora", serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #22223b;
  text-align: center;
}

.about-content {
  background-color: rgb(236, 230, 238);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  max-width: 1000px;
  margin: 0 auto;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #444;
}

/* skills */

.skills {
  padding: 90px 10%;
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #22223b;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.skill-box {
  background-color: white;
  color: #554286;
  padding: 18px 32px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.skill-box:hover {
  background-color: #c9c2db;
}

/* my projects */

.projects {
  padding: 75px 10%;
  font-family: "Lora", serif;
}

.projects h2 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 40px;
   color: #22223b;
}

.project-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background-color: white;
  padding: 25px;
  border-radius: 18px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.project-card h3 {
  color: #22223b;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.project-card p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 20px;
}

.tags {
  margin-bottom: 20px;
}

.tags span {
  background-color: #ecebff;
  color: #5f6fe2;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-right: 8px;
}

/* resume */

#resume {
  padding: 90px 8%;
  text-align: center;
}

#resume h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #22223b;
}

#resume p {
  color: #444;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.resume-box {
  display: inline-block;
  background-color: white;
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* contact me  */

#contact {
  padding: 90px 8%;
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #22223b;
}

#contact p {
  color: #444;
  margin-bottom: 10px;
   font-size: 1.3rem;
}

.contact-box {
  display: inline-block;
  margin-top: 25px;
  background-color: white;
  padding: 25px 45px;
  border: 1px solid #ddd;
  text-align: left;
}

/* footer */

footer {
  text-align: center;
  background-color: #22223b;
  color: white;
  padding: 15px;
  font-size: 1rem;
  font-family: cursive;
}

/* media queries */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 8%;
    gap: 40px;
  }

  .info h1 {
    font-size: 2.5rem;
  }

  .info h3 {
    font-size: 1.2rem;
  }

  .info p {
    font-size: 1rem;
  }

  .image img {
    width: 220px;
  }

  .project-card {
    width: 100%;
  }

  .resume-box,
  .contact-box,
  .about-content {
    width: 100%;
    padding: 25px;
  }

  .skills-container {
    gap: 15px;
  }

  .skill-box {
    width: 100%;
  }
}
